button {
    position: flex;
    padding: 50px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: rgb(170, 55, 206);
    color: lightblue;
    border-radius: 15px;
    justify-content: center;

    
   
    

}

button:hover{background-color:burlywood;}

/* button:focus{background-color:rgb(45, 50, 174);} */